
.other-stuff {
    background-image: linear-gradient(black, #63dd9aff);
    height: 600px;
    background-position: center; 
    background-repeat: no-repeat; 
   }

hr {
    color:white;
    border-style: dashed;
}
.icon-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: stretch;
    margin: auto;
    padding-top: 0;
}
.icon-grid img{
    height: 150px;
    padding-top: 0;
    margin: auto;
}

.textbox p{
    color: white;
}

body{
    background-color: black;
}