
.sem1 .projectcover{
    background-image: url('sem1.JPG');
}
.sem2 .projectcover{
    background-image: url('sem2.JPG');
}
.sem3 .projectcover{
    background-image: url('sem3.JPG');
}
.sem4 .projectcover{
    background-image: url('sem4.JPG');
}
.sem5 .projectcover{
    background-image: url('truby_cover.jpg');
}
.sem6 .projectcover{
    background-image: url('sem6.JPG');
}
.sem7 .projectcover{
    background-image: url('sem7.PNG');
}
.sem8 .projectcover{
    background-image: url('sem8.JPG');
}