

.full-box img{
    width:100%;
}

body{
  background-color: #2A2A2A;
}

.full-box {
    margin: 5%;
    display: block;
}

.textbox h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 1000;
    color: white;
    margin-top: 0;
}

.textbox h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #63dd9aff;
    margin-bottom: 0;
    
}

.textbox {
    margin: 1%;
    margin-top: 2%;
    text-align: left;
}

.textbox-2 p{
    color: white;
    font-family: "Roboto", serif;
    font-weight: 100;
    font-size: 24px;
}

.linklist {
    display: inline;
}

.linklist img{
    height: 100px;
    width: 100px;
    margin-right: 5%;
}

.publicize p{
    font-weight: 500;
}

.tags-date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
}

#taglead{
    font-family: "Roboto", serif;
    font-weight: 500;
    color: white;
    margin: 2%;
    margin-left: 0;
    margin-top: 10%;
}

.tags-date p{
    font-family: "Roboto", serif;
    font-weight: 100;
    margin: 0;
    color: white;
}

.animabox {
    margin: 2%;
}

iframe {
    background-color: black;
}

.works {
    display: inline-flex;
    margin: 2%;
}

.works img{
        width: 100%;
        display: block;
        padding-bottom: 10px;
    }
.voth {
    margin-right: 10px;
    display: inline;
}
    .img1 {
    cursor: pointer;
    transition: 0.3s;
  }
  
    .img1:hover {opacity: 0.5;}
  
  /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.9); Black w/ opacity */
     }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #order {
    height: 150px;}
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #order {
    animation-name: zoom;
    animation-duration: 0.5s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .prev {
    position: absolute;
    top: 50%;
    left: 10%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    user-select: none;
  }

  .prev:hover,
  .prev:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .next {
    position: absolute;
    top: 50%;
    right: 10%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    user-select: none;
  }

  .next:hover,
  .next:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
  .tag {
    color: #63dd9aff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding: 0;
    position: relative;
    bottom: 25px;
    line-height: 0;
    display: none;
  }